body {
  background-image: url("https://casinotop10.it/assets/Uploads/_resampled/ResizedImageWzY1MCwzNzJd-gioco-dei-dadi.jpg?t=1464255575");
  background-repeat: no-repeat;
  background-size: cover;
}
